<h1><i class="fa fa-twitter">&nbsp;</i>Twitter API</h1>
      <p>Please @mariososadi, enter a new tweet (Max. 140 Characters)</p>
      <p id="para2"></p>
      <form id ="forma2" action="/tweet" method="post">
        <br>
        <input id ="tweet" type="text" name="tweet_text" placeholder="Type here..."><br><br>
        <input id ="btn" class="btn btn-primary" type="submit" value="Sign In">
      </form>
